<div class="row">
  <div class="container">
    <div class="col-sm-2">
      <div>
        Component 1
        <app-recebe></app-recebe>
      </div>
    </div>
    <div class="col-sm-2">
      <div>
        Component 2
        <app-recebe2></app-recebe2>
      </div>
    </div>
    <div class="col-sm-2">
      Component 3
      <app-recebe3></app-recebe3>
    </div>
    <div class="col-sm-2">
      <app-teste></app-teste>
    </div>

    <br>
    <br>


  </div>
</div>

<router-outlet></router-outlet>
